<header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img src="/assets/Screenshot 2023-09-21 121520.png" class="ms-4 w" />
    <span class="fs-4 ms-3 text-light">Ciao {{ nomeUser }}</span>
  </a>

  <ul class="nav nav-pills d-flex justify-content-center align-items-center">
    <li class="nav-item">
      <a
        [routerLink]="['/home']"
        class="nav-link text-light"
        aria-current="page"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a [routerLink]="['prenota']" class="nav-link text-light">Prenota</a>
    </li>
    <!-- <li class="nav-item">
      <a href="#" class="nav-link text-light">Chi Siamo</a>
    </li> -->
    <li class="nav-item">
      <a href="" (click)="logout()" class="nav-link text-light">Esci</a>
    </li>
  </ul>
</header>
