<app-header></app-header>
<main class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="m-5">BENVEUTO NEL TUO SALONE</h1>
      <h3 class="m-5">
        Entri che sei in crisi esistenziale, esci che sei un incanto universale.
      </h3>
      <h2 class="m-5">Succede solo dal tuo parrucchiere!!</h2>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <a [routerLink]="['prenota']" class="btn btn-primary"
        >PRENOTA QUI IL TUO TAGLIO</a
      >
    </div>
  </div>
</main>
<app-footer></app-footer>
